@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;
    color: black;
}
.head{
    text-align: center;
    padding: 12px;
    font-size: 3rem;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}
.main{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.heading{
    font-size: 1.5rem;
    font-family: "Roboto", serif;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}
.todosList ,.inProgressList,.underReviewList,.finishedList{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.todo{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 24px;
    font-family: 'Roboto';
}

/* //drag and drop css  */
.dragging{
    opacity: 0.5;
    background-color: red;
}
.drag-over {
    border-top: 2px solid #007bff;
  }
.todo.over {
    border: 3px dotted #666;
  }

.fullWidth{
    width: 100%;
}
.title{
    font-weight: bold;
    font-size: 1.4rem;
}
.description .time .right{
    color: gray;
}
.colorGrey{
    color: gray;
}
.utils{
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.type{
    background-color: rgb(4, 249, 4);
    padding: 6px 16px;
    border-radius: 20px;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.addButton{ 
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-top: 10px;
    border-radius: 12px;
    color: white;
    background: black;
}

/* //task form  */
.todo-form {
    display: flex;
    align-items: center;
    gap: 12px;
    background: white;
    padding: 15px 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
input, select, button {
    padding: 10px 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}
input {
    flex: 1;
    min-width: 150px;
}
input:focus, select:focus {
    border-color: #4CAF50;
    box-shadow: 0px 0px 5px rgba(76, 175, 80, 0.5);
}
select {
    background: #fff;
    cursor: pointer;
}
button {
    /* background: #4CAF50; */
    color: white;
    border: none;
    cursor: pointer;
    /* font-weight: bold; */
    /* letter-spacing: 1px; */
    transition: all 0.3s ease;
}
button:hover {
    background: gray;
}