html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
    font-size: 10px;
    
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

button {
    border: none
}

:root {
    --lightblue: #00bcf2;
    --blue: #0072be;
    --stable-blue: #0076bf;
    --midblue: #00188f;
    --darkblue: #002050;
    --lightpurple: #b4a0ff;
    --purple: #5c2d91;
    --darkpurple: #373277;
    --lightmagenta: #e3008c;
    --magenta: #b4009e;
    --darkmagenta: #5c005c;
    --red: #e81123;
    --darkred: #a80000;
    --lightorange: #ff8c00;
    --orange: #d83b01;
    --insiders-green: #058f2d;
    --lightyellow: #fff100;
    --yellow: #ffcc00;
    --lightgreen: #bad80a;
    --green: #477a32;
    --darkgreen: #004b1c;
    --lightteal: #00b294;
    --teal: #008272;
    --darkteal: #004b50;
    --gray-95: darken( white, 5% );
    --lightgray: #e3e3e3;
    --gray: #ccc;
    --darkgray: #333;
    --white: #ffffff;
    --black: #000000;
    --background: #0D1117;
    --foreground: #9ba3b4;
    --foreground-intense: #e6eefA;
    --header-foreground: #c3d0e5;
    --accent-primary: #0078d4;
    --accent-secondary: #0069b9;
    --link-foreground: #4daafc;
    --link-foreground-hover: #8fc3fe;
    --link-underline-background: var(--link-foreground);
    --background: #0D1117;
    --border-background: rgba(255,255,255,0.12);
    --header-background: var(--background);
    --footer-background: var(--background);
    --button-primary-background: var(--accent-primary);
    --button-primary-foreground: var(--white);
    --button-primary-border: transparent;
    --button-primary-hover: #005ba4;
    --button-secondary-background: #25292E;
    --button-secondary-foreground: var(--header-foreground);
    --button-secondary-border: rgba(255,255,255,0.3);
    --button-secondary-hover: #333940;
    --icon-button-hover-background: rgba(255,255,255,0.10);
    --navbar-border: var(--border-background);
    --search-input-background: transparent;
    --search-input-border: rgba(255,255,255,0.15);
    --search-input-border-active: var(--accent-primary);
    --search-input-foreground: var(--foreground);
    --search-input-placeholder-foreground: #9ba3b4;
    --card-background: rgba(255,255,255,0.04);
    --card-hover-background: rgba(255,255,255,0.08);
    --card-border: rgba(255,255,255,0.12);
    --card-border-active: rgba(255,255,255,0.2);
    --feature-card-icon-background: rgba(255,255,255,0.07);
    --banner-background: var(--background);
    --banner-link-color: var(--link-foreground);
    --banner-text: var(--foreground);
    --hero-background: linear-gradient(180deg, #0e0e0e 0%, #141414 100%);
    --hero-border-bottom: var(--border-background);
    --home-foreground: #9FB1D1;
    --code-background: rgba(255,255,255,0.15);
    --code-foreground: #cccccc;
    --keybinding-background: rgba(255,255,255,0.15);
    --keybinding-foreground: var(--link-foreground);
    --code-copy-foreground: #ccc;
    --code-copy-background: #444;
    --alert-note-border-color: var(--lightblue);
    --alert-warning-border-color: var(--lightyellow);
    --alert-important-border-color: var(--lightpurple);
    --alert-caution-border-color: #FE7543;
    --alert-tip-border-color: var(--lightgreen)
}
* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
}
.home{
    background-color: var(--background);
}
.home h2{
    color: var(--header-foreground);
    font-weight: 600;
    letter-spacing: -0.5px;
    margin-top: 0;
    line-height: 150%;
    font-size: 30px;
}
.home p{
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    color: var(--home-foreground);
}
.home a{
    font-size: 16px;
    font-weight: 500;
    color: var(--link-foreground);
}
.link-button:hover {
    text-decoration: none;
    color: inherit
}


/* navbar */
#navbar{
    display: flex;
     margin: 0% 10%;
    justify-content: space-between;
    align-items: center;
}
.navLeft{
    display: flex;
    align-items: center;
}
.navHeadTitle{
    display: flex;
    align-items: center;
    font-size: 20px;
    letter-spacing: -0.2px;
    font-weight: 600;
    color: var(--header-foreground);
    min-height: 58px;
    line-height: 20px;
    text-decoration: none;
    gap: 20px;
}
.navHeading img{
    width: 25px;
    height: 25px;
}

.navButtonList li>a{
    color: var(--foreground);
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.navbuttons{
    padding-left: 0px;
}
.navButtonList{
    display: flex;
    text-align: center;
}

.navRight{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.colorModeButton img{
    width: 20px;
}

.navSearch input{
    
    background: var(--search-input-background);
    border: 1px solid var(--search-input-border);
    padding: 5px 12px;
    height: 22px;
    border-radius: 4px;
    color: var(--search-input-foreground);
    -webkit-transition: opacity .08s ease-in;
    -moz-transition: opacity .08s ease-in;
    -o-transition: opacity .08s ease-in;
    transition: opacity .08s ease-in;
    width: 200px;
    box-shadow: none;
    /* outline: var(--stable-blue); */
}
.navSearch input:focus{
    border-color: var(--stable-blue);
    outline: var(--stable-blue);
}
.navDownloadButton{
    color: var(--white);
    background-color: var(--accent-primary);
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 4px;
    height: unset;
    font-family: var(--default-font);
    font-weight: 600;
    cursor: pointer
}
.navDownloadButton:hover{
    color: var(--white);
    background-color: var(--accent-secondary);
    
}

/* /main content  */

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 0px;
}

.mainTitle{
    font-size: 72px;
    max-width: 900px;
    color: var(--header-foreground);
    font-weight: 700;
    font-size: 48px;
    margin-top: 1rem;
    line-height: 175%;
    letter-spacing: -0.8px;
}
.mainClickable{
    margin-top: -30px;
}
.mainButtons{
    display: flex;
    gap: 10px;
}
.mainDownload{
    background-color: var(--button-primary-background);
    color: var(--button-primary-foreground);
    border: 1px solid var(--button-primary-border);
    border-radius: 4px;
    font-size: 1.8rem;
    padding: 10px 20px;
    cursor: pointer;
}
.mainCopilot{
    background-color: var(--button-secondary-background);
    color: var(--button-secondary-foreground);
    border: 1px solid var(--button-secondary-border);
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 10px 20px;
    cursor: pointer;

}
.mainLinks a{
    font-size: 12px;
    margin-top: 8px;
    font-weight: 500;
    color: var(--link-foreground);
}
.mainLinks{
    font-size: 12px;
    margin-top: 8px;
    font-weight: 500;
    color: var(--home-foreground);
    line-height: 160%;
}
.mainVideo{
    position: relative;
    aspect-ratio: 1.49;
    width: 1250px;
    border-radius: 24px;
    margin-top: 40px;

    
}
#video1{
    width: 90%;
    height: 85%;
    position: absolute;
    transform: translate(50%, 50%);
    top: -35%;
    left: -40%;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,.36);
    border-radius: 12px;
}
.mainVideo img{
    width: 100%;
    height: 100%;
    border-radius: 24px;

}

.videoControl{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
}
.videoControl button{
    background: rgba(0, 0, 0, 0);
    font-weight: 500;
    padding: 6px 20px;
    border: solid 2px rgba(0, 0, 0, 0);
    border-radius: 8px;
    transition: border .2s ease;
    font-size: 20px;
    cursor: pointer;
    color: var(--foreground);
}
.videoControl button:hover {
    border: solid 2px var(--foreground)
}

/* second section  */
#second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 0px;
    padding-top: 92px;
}
.secondSectionCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 48px;
    width: 1320px;
}
.sectionCard{
    background: var(--card-background);
    border: 1px solid var(--card-border);
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    /* width: 33%; */
}
.sectionCard h2{
    color: var(--header-foreground);
    font-weight: 600;
    letter-spacing: -0.5px;
    margin-top: 0;
    line-height: 150%;
    font-size: 20px;
}
.sectionCard p{
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    color: var(--home-foreground);
    margin: 0 0 10px;
}
.sectionCard div{
    display: grid;
    place-content: center;
    height: 100%;
}
.sectionCard div>img{
    width: 100%;
    height: auto;
    color: var(--foreground);
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner{
    padding: 48px 0px;
}
.secondSectionBanner{
    background: url(Assets/copilot-free-banner-bg-dark.webp);
    background-size: cover;
    border: solid 1px var(--card-border);
    border-radius: 8px;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0 40px;
    width: 1320px;
}
.secondSectionBanner div{
    padding: 0px 60px;
    width: 50%;
}
.secondSectionBanner h2{
    font-size: 30px;
    color: var(--foreground-intense);
    margin: 0;
    text-wrap: balance;
    letter-spacing: -0.5px;
    line-height: 150%;
    font-weight: 600;
}
.secondSectionBanner p{
    color: var(--foreground-intense);
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
}
.secondSectionBanner div a{
    background-color: var(--button-secondary-background);
    color: var(--button-secondary-foreground);
    border: 1px solid var(--button-secondary-border);
    text-decoration: none;
    border-radius: 4px;
    font-size: 1.6rem;
    padding: 5px 12px;
    width: fit-content;
}
.secondSectionBanner div a:hover{
    background-color: var(--button-secondary-hover);
    color: var(--button-secondary-foreground);
    border: 1px solid var(--button-secondary-border);
}
.row{
    padding: 48px 0px;
}
.thirdContent{
    display: flex;
    align-items: center;
    padding: 48px 40px;
}
.col-sm-6{
    padding: 0 60px;
}
.col-lg-4{
    width: 33.3333%;
}
.col-lg-8{
    width: 66.6667%;
}
.imgThird img{
    width: 100%;
    height: auto;
    color: var(--foreground);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}
.extensions-grid-container {
    display: grid;
    grid-auto-flow: row;
    gap: 8px;
    -webkit-mask-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.1));
    mask-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.1));
    -webkit-mask-position: 50% 0;
    mask-position: 50% 0;
    margin-top: 32px
}
.extensions-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px
}
.home .extension-tile {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--card-background);
    border: 1px solid var(--card-border);
    text-decoration: none;
    gap: 10px;
}
.extension-tile img {
    height: 40px;
    width: auto;
    align-self: flex-start;
    border-radius: 4px;
}
.extensions-grid-container :nth-child(2) {
    position: relative;
}
.extension-tile-details{
    line-height: 0px;
}
.extensions-grid-caption{
    display: flex;
    justify-content: center;
}

.languages div {
    display: flex;
    align-items: center;
    gap: 8px;
}
.languages {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 8px;
}
.languages img {
    height: 40px;
    width: auto;
}
.home .languages code {
    font-size: 16px;
    margin: 0;
    line-height: 100%;
    background-color: unset;
    color: var(--foreground);
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
}

.rich-features {
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}
.secondary-tagline {
    text-align: left;
    padding: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 32px 0
}
.secondary-tagline h2 {
    margin: 0
}
.secondary-tagline p {
    max-width: 500px;
    margin-top: 12px
}
.feature-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
    margin: 0 auto;
    width: 1320px;
}
.feature-card {
    text-align: left;
    background: var(--card-background);
    border: 1px solid var(--card-border);
    border-radius: 10px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none
}
.feature-card img {
    height: 48px;
    width: 48px;
    padding: 12px;
    margin-bottom: 20px;
    background-color: var(--feature-card-icon-background);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home h3 {
    color: var(--header-foreground);
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 160%;
    font-size: 16px;
}
.home .feature-card p {
    margin: 0;
    padding-top: 8px;
    font-size: 14px;
    line-height: 24px;
}
/* footer  */
footer {
    background-color: var(--footer-background);
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin: 0 auto;
    width: 1320px;
}

footer .footer-container {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px
}

footer .footer-social {
    display: flex;
    justify-content: space-between
}

footer .container {
    display: flex;
    flex-direction: column;
    gap: 16px
}

footer .message {
    display: none
}

footer .links {
    padding: 0;
    margin: 0
}

footer .links li {
    display: inline-block
}

footer .links li:not(:last-child) {
    padding-right: 20px
}

footer .links li img {
    max-width: 24px
}

footer .links li img.x-icon {
    max-width: 18px
}

footer .links a {
    font-size: 12px;
    color: var(--home-foreground);
    text-decoration: none
}

@media(min-width: 992px) {
    footer .footer-container {
        padding:96px 40px
    }
}

.alt-downloads {
    text-align: center
}

.alt-downloads .snap-button {
    text-align: left;
    padding-left: 2px
}

.alt-downloads .download-icon {
    display: inline
}

.alt-downloads .download-icon-accessible {
    display: none
}
